<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Compare DB</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3 mb-3">
            <label for="ip">IP</label>
            <input type="text" class="form-control" id="ip" placeholder="IP" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="port">Port</label>
            <input type="text" class="form-control" id="port" placeholder="Port" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="userName">User Name</label>
            <input type="text" class="form-control" id="userName" placeholder="User name" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="db1Name">DB1 Name</label>
            <input type="text" class="form-control" id="db1Name" placeholder="DB1 name" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="db2Name">DB2 Name</label>
            <input type="text" class="form-control" id="db2Name" placeholder="DB2 Name" required>
        </div>
    </div>


    <div class="btn-toolbar">
        <button id="compareAll" type="button" class="btn btn-success">一键对比</button>
        <button id="compareTableBetweenDifferentDB" class="btn btn-primary" type="button">查询 互不存在的表</button>
        <button id="compareColumnBetweenSameTableName" class="btn btn-secondary" type="button">查询 相同表 列名不一致</button>
        <button id="compareDataTypeBetweenSameTableName" type="button" class="btn btn-success">查询 相同表 相同列名 数据类型不一致</button>
    </div>
    <div class="btn-toolbar">
        <button id="compareColumnTypeBetweenSameTableName" type="button" class="btn btn-danger">查询 相同表 相同列名 相同数据类型 数据类型长度不一致</button>
        <button id="compareColumnIsNullBetweenSameTableName" type="button" class="btn btn-warning">查询 相同表 相同列名 是否可为空不一致</button>
        <button id="compareColumnDefaultValueBetweenSameTableName" type="button" class="btn btn-info">查询 相同表 相同列名 相同数据类型 默认值不一致</button>
    </div>

    <h3 id="error-message" style="display: none"></h3>

    <h3 id="table-title-compareTableBetweenDifferentDB" style="display: none"></h3>
    <div class="table-responsive">
        <table id="resultTable-compareTableBetweenDifferentDB" class="table table-striped table-hover" style="display: none">
        </table>
    </div>

    <h3 id="table-title-compareColumnBetweenSameTableName" style="display: none"></h3>
    <div class="table-responsive">
        <table id="resultTable-compareColumnBetweenSameTableName" class="table table-striped table-hover" style="display: none">
        </table>
    </div>

    <h3 id="table-title-compareDataTypeBetweenSameTableName" style="display: none"></h3>
    <div class="table-responsive">
        <table id="resultTable-compareDataTypeBetweenSameTableName" class="table table-striped table-hover" style="display: none">
        </table>
    </div>

    <h3 id="table-title-compareColumnTypeBetweenSameTableName" style="display: none"></h3>
    <div class="table-responsive">
        <table id="resultTable-compareColumnTypeBetweenSameTableName" class="table table-striped table-hover" style="display: none">
        </table>
    </div>

    <h3 id="table-title-compareColumnIsNullBetweenSameTableName" style="display: none"></h3>
    <div class="table-responsive">
        <table id="resultTable-compareColumnIsNullBetweenSameTableName" class="table table-striped table-hover" style="display: none">
        </table>
    </div>

    <h3 id="table-title-compareColumnDefaultValueBetweenSameTableName" style="display: none"></h3>
    <div class="table-responsive">
        <table id="resultTable-compareColumnDefaultValueBetweenSameTableName" class="table table-striped table-hover" style="display: none">
        </table>
    </div>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script type="text/javascript" src="js/compare.js"></script>
</body>
</html>